<div class="wrapper">
  <div class="content-wrapper">
    <h1 class="title">The Company</h1>
    <h1 class="site-title">Shipping Time Calculator</h1>
    <div class="hero">
      <form [formGroup]="CalculationForm" (ngSubmit)="getETA()">
        <div class="input-container">
          <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="OrderDate"
              [min]="minDate"
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Fabric Type</mat-label>
            <mat-select formControlName="FabricType">
              <mat-option value="cotton">Cotton</mat-option>
              <mat-option value="linen">Linen</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="Quantity" />
            <div
              matTooltip="Shipping Dates May Vary Based on Quantity"
              matSuffix
            >
              <i
                class="fa-solid fa-circle-exclamation"
                style="color: #8d9092; font-size: 22pt; margin: 3px"
              ></i>
            </div>
          </mat-form-field>
        </div>
        <div style="">
          <button type="submit" class="btn">Calculate</button>
          <p class="eta" *ngIf="!isCalc; else eta">
            Please enter your order information to estimate shipping date
          </p>
          <ng-template #eta>
            <p class="eta">
              Your Estimated Shipping Time Is
              <span style="font-weight: 600; font-size: 20">{{
                ETA | date
              }}</span>
            </p>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
